#footer{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 100%;
    height:100%;
}

#footer-icon{
    display: flex;
    margin-left: 1%;
    gap: 1700px; 
}
.logo{
    width: 70px;
    height: 60px;
    margin-top: 10px;
    margin-left: 129%;  
}
#icons{
    margin-left:-11%;
    height: 40px;
    width: 50px;
    gap: 5px;
    display: flex;  
}
.location{
    width: 25px;
    height: 25px;
    margin-bottom: 4%;
    margin-left: 2%;

}
.call{
    height: 35px;
    width: 40px;
    margin-top: 99px;
    margin-left: 10%;
    margin-right: -20%;
}

#locate{
    display: flex;
    gap: -25px;
}
.location-info{
    font-size: 25px;
    margin-right: 14%;
}
.instagram{
    width: 30px;
    height: 60px;
}
.linkedin{
    width: 34px;
    height: 60px;
}

.twitter{
    width: 35px;
    height: 37px;
    margin-top: 22%;
}
.whatsapp{
    width: 35px;
    height: 60px;
}
h4{
margin-left: -94px;
font-size: 25px;
}
.location-mail{
    font-size: 20px;
    margin-top: 1%;

}
#contacts{
    display: flex;
    gap: -20%;
    margin-left: 10%;
    margin-top: -45px;
} 
#contact-input{
    margin-left: 18%;
    font-size: 20px;
    margin-top: -50px;
}
input{
    border: solid 2px;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
h2{
    margin-left: 40%;
    font-size: 35px;
}
#info{
    display: flex;
    margin-left: 5%;
    text-align: center;
}

.bottom-text{
    margin-left: 35%;
    color: grey;
    padding: 0.01%;
    font-size: 15px;
}
input{
    border-radius: 5px;
} 
button{
    border-radius: 5px;
    border: none;
    padding: 6px 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #E51527;
    color: white;
    font-size: 20px;
    display: grid;
    margin-left: 25%;
    margin-top: 4%;
}
@media only screen and (min-width:280px) and (max-width:281px){
    #footer{
        background-color: black;
        color: white;
        width: 100%;
        height:100%;
        overflow: hidden;

    } 
    
    #footer-icon{
        gap: 145px; 
    }
    .logo{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 69%;  
    }
    #icons{
        gap: 7px;
        display: flex;  
    }
    
    #locate{
        display: flex;
    }
    .location-info{
        font-size: 25px;
        margin-right: 14%;
    }
    .instagram{
        width: 30px;
        height: 60px;
    }
    .linkedin{
        width: 34px;
        height: 60px;
    }
    
    .twitter{
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    .whatsapp{
        width: 35px;
        height: 60px;
    }
  
    h4{
    margin-top: 18%;
    margin-left: -5%;
    font-size: 20px;
    }
    #contacts{
        display: flex;
    }
    .location{
        font-size: 20px;
    } 
    #contact-input{
        margin-left: 16%;
    }

    #info{
        display: flex;
        flex-wrap: wrap;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text{
        margin-left: 12%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    input{
        border-radius: 5px;
    } 
    button{
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }   
}

@media only screen and (min-width:282px) and (max-width:667px){
     #footer{
        background-color: black;
        color: white;
        width: 100%;
        height:100%;
        overflow: hidden;

    } 
    
    #footer-icon{
        gap: 145px; 
    }
    .logo{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 69%;  
    }
    .location-mail{
        margin-left: 12%;
    }
    #icons{
        gap: 7px;
        display: flex;  
    }
    
    #locate{
        display: flex;
    }
    .location-info{
        font-size: 25px;
        /* margin-right: 14%; */

    }
    .instagram{
        width: 30px;
        height: 60px;
    }
    .linkedin{
        width: 34px;
        height: 60px;
    }
    
    .twitter{
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    .whatsapp{
        width: 35px;
        height: 60px;
    }
  
    h4{
    margin-top: 18%;
    margin-left: 3%;
    font-size: 20px;
    }
    #contacts{
        display: flex;
        margin-left: 15%;
    }
    .location{
        font-size: 20px;
    } 
    #contact-input{
        margin-left: 16%;
    }
    
    h2{
        padding-right: 15%;
    }
    #info{
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text{
        margin-left: 12%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    input{
        border-radius: 5px;
    } 
    button{
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:670px) and (max-width:1020px){
    #footer{
        background-color: black;
        color: white;
        font-size: 20px;
        width: 100%;
        height:100%;
        overflow: hidden;

    }
    
    #footer-icon{
        gap: 145px; 
    }
    .logo{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 19%;  
    }
    #icons{
        gap: 5px;
        display: flex;  
    }
 
    .call{
        height: 35px;
        width: 40px;
        margin-top: 99px;
        margin-left: 10%;
        margin-right: -20%;
    }
    
    #locate{
        display: flex;
        margin-bottom: 3%;
        gap: -25px;
    }
    .location-info{
        font-size: 25px;
        margin-right: 14%;
    }
    .instagram{
        width: 30px;
        height: 60px;
    }
    .linkedin{
        width: 34px;
        height: 60px;
    }
    
    .twitter{
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    .whatsapp{
        width: 35px;
        height: 60px;
    }
   
    h4{
    margin-left: 14px;
    font-size: 25px;
    }
    #contacts{
        display: flex;
        margin-left: 8%;
    } 
    #contact-input{
        margin-left: 18%;
        font-size: 20px;
    }
    
    h2{
        padding-right: 20%;
    }
    #info{
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text{
        margin-left: -7%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    input{
        border-radius: 5px;
    } 
    button{
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:820px) and (max-width:1180px){
    #footer{
        background-color: black;
        color: white;
        font-size: 20px;
        width: 100%;
        height:100%;
        overflow: hidden;

    }
    
    #footer-icon{
        gap: 145px; 
    }
    .logo{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 99%;  
    }
    #icons{
        gap: 5px;
        display: flex;  
        margin-left: 30%;
    }
 
    .call{
        height: 35px;
        width: 40px;
        margin-top: 99px;
        margin-left: 10%;
        margin-right: -20%;
    }
    
    #locate{
        display: flex;
        margin-bottom: 3%;
        gap: -25px;
    }
    .location-info{
        font-size: 25px;
        margin-right: 14%;
    }
    .instagram{
        width: 30px;
        height: 60px;
    }
    .linkedin{
        width: 34px;
        height: 60px;
    }
    
    .twitter{
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    .whatsapp{
        width: 35px;
        height: 60px;
    }
   
    h4{
    margin-left: 14px;
    font-size: 25px;
    }
    #contacts{
        display: flex;
        margin-left: 8%;
    } 
    #contact-input{
        margin-left: 8%;
        font-size: 20px;
    }
    
    h2{
        padding-right: -25%;
    }
    #info{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20%;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text{
        margin-left: 17%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    input{
        border-radius: 5px;
    } 
    button{
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}


@media only screen and (min-width:768px) and (max-width:999px){
    #footer{
        background-color: black;
        color: white;
        font-size: 20px;
        width: 100%;
        height:100%;
        overflow: hidden;

    }
    
    #footer-icon{
        gap: 145px; 
    }
    .logo{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 19%;  
    }
    #icons{
        gap: 5px;
        display: flex;  
    }
 
    .call{
        height: 35px;
        width: 40px;
        margin-top: 99px;
        margin-left: 10%;
        margin-right: -20%;
    }
    
    #locate{
        display: flex;
        margin-bottom: 3%;
        gap: -25px;
    }
    .location-info{
        font-size: 25px;
        margin-right: 14%;
    }
    .instagram{
        width: 30px;
        height: 60px;
    }
    .linkedin{
        width: 34px;
        height: 60px;
    }
    
    .twitter{
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    .whatsapp{
        width: 35px;
        height: 60px;
    }
   
    h4{
    margin-left: 14px;
    font-size: 25px;
    }
    #contacts{
        display: flex;
        margin-left: 8%;
    } 
    #contact-input{
        margin-left: 8%;
        font-size: 20px;
    }
    
    h2{
        padding-right: 20%;
    }
    #info{
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text{
        margin-left: -7%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    input{
        border-radius: 5px;
    } 
    button{
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:1100px) and (max-width:1280px){
    #footer {
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    #footer-icon {
        gap: 145px;
    }
    
    .logo {
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 199%;
    }
    
    #icons {
        gap: 7px;
        display: flex;
        margin-left: 60%;
    }
    
    #locate {
        display: flex;
        gap: -25px;
    }
    
    .location-info {
        font-size: 25px;
        margin-right: 14%;
    }
    
    .instagram {
        width: 30px;
        height: 60px;
    }
    
    .linkedin {
        width: 34px;
        height: 60px;
    }
    .location-mail{
        margin-top: 6%;
    }
    .twitter {
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    
    .whatsapp {
        width: 35px;
        height: 60px;
    }
    
    h4 {
        margin-top: 18%;
    }
    
    #contacts {
        display: flex;
        margin-left: -9%;
    }
    
    .location {
        font-size: 20px;
    }
    
    #contact-input {
        margin-left: 3%;
        margin-top: -2%;
    }
    
    h2 {
        padding-right: 2%;
    }
    
    #info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    .call{
        margin-top: 35%;
    }
    .bottom-text {
        margin-left: 29%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    
    input {
        border-radius: 5px;
    }
    
    button {
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:1000px) and (max-width:1030px){
    #footer {
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }
    
    #footer-icon {
        gap: 145px;
    }
    
    .logo {
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 199%;
    }
    
    #icons {
        gap: 7px;
        display: flex;
        margin-left: 60%;
    }
    
    #locate {
        display: flex;
        gap: -25px;
    }
    
    .location-info {
        font-size: 25px;
        margin-right: 14%;
    }
    
    .instagram {
        width: 30px;
        height: 60px;
    }
    
    .linkedin {
        width: 34px;
        height: 60px;
    }
    .location-mail{
        margin-top: 6%;
    }
    .twitter {
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    
    .whatsapp {
        width: 35px;
        height: 60px;
    }
    
    h4 {
        margin-top: 18%;
    }
    
    #contacts {
        display: flex;
        margin-left: -9%;
    }
    
    .location {
        font-size: 20px;
    }
    
    #contact-input {
        margin-left: 3%;
        margin-top: -2%;
    }
    
    h2 {
        padding-right: 2%;
    }
    
    #info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    .call{
        margin-top: 35%;
    }
    .bottom-text {
        margin-left: 29%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    
    input {
        border-radius: 5px;
    }
    
    button {
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 18px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:1000px) and (max-width:1024x){
    #footer {
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    #footer-icon {
        gap: 145px;
    }
    
    .logo {
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 69%;
    }
    
    #icons {
        gap: 7px;
        display: flex;
    }
    
    #locate {
        display: flex;
        gap: -25px;
    }
    
    .location-info {
        font-size: 25px;
        margin-right: 14%;
    }
    
    .instagram {
        width: 30px;
        height: 60px;
    }
    
    .linkedin {
        width: 34px;
        height: 60px;
    }
    
    .twitter {
        width: 35px;
        height: 37px;
        margin-top: 22%;
    }
    
    .whatsapp {
        width: 35px;
        height: 60px;
    }
    
    h4 {
        margin-top: 18%;
    }
    
    #contacts {
        display: flex;
        margin-left: -8%;
    }
    
    .location {
        font-size: 20px;
    }
    
    #contact-input {
        margin-left: 3%;
    }
    
    h2 {
        padding-right: 20%;
    }
    
    #info {
        display: flex;
        flex-wrap: wrap;
        margin-left: 9%;
        font-size: 25px;
        text-align: center;
    }
    
    .bottom-text {
        margin-left: -6%;
        color: grey;
        padding: 0.01%;
        font-size: 15px;
    }
    
    input {
        border-radius: 5px;
    }
    
    button {
        border-radius: 5px;
        border: none;
        padding: 6px 15px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #E51527;
        color: white;
        font-size: 20px;
        display: grid;
        margin-left: 25%;
        margin-bottom: 5%;
    }

}

